In [1]:
import numpy as np
import pandas as pd
from board import *

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
# ToDo:
# Why don't players have properties?

In [56]:
players = [Player(0.5), Player(0.5), Player(0.5), Player(0.5)]

In [57]:
for i in range(100000):
    curr_player = players[i % 4]
    curr_player.take_turn()

In [66]:
squares = np.array([square.name for square in board])
visits = np.array([square.visits for square in board])
visits = visits / sum(visits)

In [67]:
visits = pd.DataFrame({"Square": squares, "Visits": visits}).sort_values(by="Visits", ascending=False)

In [68]:
visits

                   Square    Visits
10                   Jail  0.066304
24        Illinois Avenue  0.031535
20           Free Parking  0.029613
18       Tennessee Avenue  0.028748
22               Chance 2  0.028347
0                      Go  0.027775
16        St. James Place  0.027755
19        New York Avenue  0.027552
28            Water Works  0.026921
25           B&O Railroad  0.026626
26        Atlantic Avenue  0.026406
17      Community Chest 2  0.026376
5        Reading Railroad  0.026310
15  Pennsylvania Railroad  0.025870
32  North Carolina Avenue  0.025359
30             Go To Jail  0.025127
12       Electric Company  0.024702
21        Kentucky Avenue  0.024543
11      St. Charles Place  0.024506
34    Pennsylvania Avenue  0.024129
33      Community Chest 3  0.023699
23         Indiana Avenue  0.023533
31         Pacific Avenue  0.023518
14        Virginia Avenue  0.023513
27         Ventnor Avenue  0.023328
39              Boardwalk  0.023059
29         Marvin Gardens  0.021685
8          Vermont Avenue  0.021054
38             Luxury Tax  0.020968
7                Chance 1  0.020890
9      Connecticut Avenue  0.020685
35    Short Line Railroad  0.020607
2       Community Chest 1  0.020590
6         Oriental Avenue  0.020548
13          States Avenue  0.020533
36               Chance 3  0.020259
4              Income Tax  0.020255
3           Baltic Avenue  0.018996
37             Park Place  0.018917
1    Mediterranean Avenue  0.018861