In [1]:
import numpy as np
import pandas as pd
from board import *

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
# ToDo:
# Implement property upgrading

In [3]:
players = [Player(0.5), Player(0.5), Player(0.5), Player(0.5)]

In [4]:
for i in range(100000):
    curr_player = players[i % 4]
    curr_player.take_turn()

In [5]:
squares = np.array([square.name for square in board])
visits = np.array([square.visits for square in board])
visits = visits / sum(visits)
profits = []
for square in board:
    if issubclass(type(square), Property):
        profits.append(square.profit)
    else:
        profits.append(0)
profits = np.array(profits) / sum(profits)

In [11]:
data = pd.DataFrame({
    "Squares": squares, "Visits": visits, "Profits": profits
}).sort_values(by="Profits", ascending=False)

In [12]:
data

                  Squares    Visits   Profits
39              Boardwalk  0.023416  0.096609
5        Reading Railroad  0.027006  0.055724
37             Park Place  0.019170  0.055310
34    Pennsylvania Avenue  0.023655  0.054614
32  North Carolina Avenue  0.025302  0.054253
25           B&O Railroad  0.025846  0.053328
15  Pennsylvania Railroad  0.025709  0.053044
24        Illinois Avenue  0.031343  0.051718
31         Pacific Avenue  0.023711  0.050832
26        Atlantic Avenue  0.026380  0.047865
29         Marvin Gardens  0.022622  0.044761
35    Short Line Railroad  0.021011  0.043333
27         Ventnor Avenue  0.023482  0.042593
19        New York Avenue  0.027941  0.036871
21        Kentucky Avenue  0.024738  0.036715
23         Indiana Avenue  0.024046  0.035685
16        St. James Place  0.028633  0.033060
18       Tennessee Avenue  0.028536  0.032949
14        Virginia Avenue  0.023680  0.023421
11      St. Charles Place  0.024041  0.019814
13          States Avenue  0.020548  0.016925
9      Connecticut Avenue  0.021153  0.013937
8          Vermont Avenue  0.020929  0.010338
6         Oriental Avenue  0.020487  0.010118
28            Water Works  0.026838  0.008811
12       Electric Company  0.024346  0.007987
3           Baltic Avenue  0.019465  0.006410
1    Mediterranean Avenue  0.018148  0.002975
38             Luxury Tax  0.020975  0.000000
33      Community Chest 3  0.023060  0.000000
36               Chance 3  0.019958  0.000000
0                      Go  0.027738  0.000000
30             Go To Jail  0.025246  0.000000
22               Chance 2  0.028312  0.000000
17      Community Chest 2  0.026167  0.000000
10                   Jail  0.066357  0.000000
7                Chance 1  0.020868  0.000000
4              Income Tax  0.019739  0.000000
2       Community Chest 1  0.020019  0.000000
20           Free Parking  0.029380  0.000000